<nav class="navbar navbar-inverse ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="main-logo"><a ddclass="navbar-brand" href="/">Revel</a>
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                                
                <li {% if page.layout == 'tutorial' %}class="active"{% endif %}>
                    <a href="{{ layout.root }}/tutorial/index.html"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> 튜토리얼</a></li>
                
                <li {% if page.layout == 'manual' %}class="active"{% endif %}>
                    <a href="{{ layout.root }}/manual/index.html"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 메뉴얼</a></li>
                    
                <li {% if page.layout == 'modules' %}class="active"{% endif %}>
                    <a href="{{ layout.root }}/modules/index.html"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 모듈</a></li>
                    
                    
                <li {% if page.layout == 'examples' %}class="active"{% endif %}>
                    <a href="{{ layout.root }}/examples/index.html"><span class="glyphicon glyphicon-sound-stereo" aria-hidden="true"></span> 예제</a></li>
                
                <li {% if page.layout == 'quickref' %}class="active"{% endif %}>
                    <a href="{{ layout.root }}/quickref/index.html"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> 빠른 레퍼런스</a></li>
                    
                    
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">프로젝트 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://github.com/revel/" target="github"><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true"></span> Revel 프로젝트 @ github</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Revel</li>
                            <li><a href="https://godoc.org/github.com/revel/revel" target="godoc"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> godoc</a></li>
                            <li><a href="https://github.com/revel/revel" target="github"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 소스 코드</a></li>
                            <li><a href="https://github.com/revel/revel/issues" starget="github"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 이슈</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Revel 명령</li>
                            <li><a href="https://github.com/revel/cmd" target="github"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 소스 코드</a></li>
                            <li><a href="https://github.com/revel/cmd/issues" target="github"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 이슈</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">모듈</li>
                        <li><a href="https://github.com/revel/modules" target="github"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 소스 코드</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">예제 앱</li>
                        <li><a href="https://github.com/revel/examples" target="github"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 소스 코드</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">revel.github.io</li>
                        <li><a href="https://github.com/revel/revel.github.io" target="github"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 소스 코드</a></li>
                        <li><a href="https://github.com/revel/revel.github.io/issues" starget="github"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 이슈</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">지원 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://gitter.im/revel/community" target="_blank">Chat on gitter.im</a></li>
                        <li><a href="http://stackoverflow.com/questions/tagged/revel" target="_blank">Revel at StackOverflow</a></li>
                    </ul>
                <li>
                 
            </ul>
        </div>
    </div>
</nav>